.titleContainer {
  position: absolute;
  top: calc(
    var(--theme-lengths-navHeight) + var(--theme-lengths-topBottomPadding)
  );
  left: 0;
  right: 0;
  padding: calc(2 * var(--theme-lengths-topBottomPadding)) 0;
  @media (max-height: 600px) {
    padding: calc(1 * var(--theme-lengths-topBottomPadding)) 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainerInner {
  max-width: var(--theme-lengths-maxWidth);
  padding: 0 var(--theme-lengths-sidePadding);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  row-gap: calc(2 * var(--theme-lengths-topBottomPadding));
  @media (max-height: 1000px) {
    row-gap: calc(1.5 * var(--theme-lengths-topBottomPadding));
  }
  @media (max-height: 600px) {
    row-gap: calc(1 * var(--theme-lengths-topBottomPadding));
  }
}

.titleTextInitial {
  flex-grow: 0;
}

.titleText {
  pointer-events: none;
  text-align: center;
  font-size: var(--theme-page-loaderTitleFontSizeInitial);
  line-height: 1.1em;
  color: var(--theme-colors-white);
  max-width: 768px;
  > span {
    display: inline-block;
    position: relative;
    > span {
      opacity: 0;
      display: inline-block;
    }
    > span:first-child {
      opacity: 1;
      position: absolute;
      line-height: 1.1em;
      top: 0;
      left: 0;
    }
  }
}

.titleImageInitial {
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 1/1;
  max-height: 200px;
  @media (max-height: 1000px) {
    max-height: 150px;
  }
}
.titleImage {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 20px 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.titleTargetContainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  > div {
    width: 100%;
    max-width: var(--theme-lengths-maxWidth);
    padding: 0 var(--theme-lengths-sidePadding);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: calc(1 * var(--theme-lengths-topBottomPadding));
  }
}

.titleImageTarget {
  flex-shrink: 0;
  margin: calc(0.5 * var(--theme-lengths-topBottomPadding));
  width: calc(
    var(--theme-lengths-navHeight) + 1 * var(--theme-lengths-topBottomPadding)
  );
  height: calc(
    var(--theme-lengths-navHeight) + 1 * var(--theme-lengths-topBottomPadding)
  );
}
.titleTextTarget {
  opacity: 0;
  > span {
    display: inline-block;
  }
  pointer-events: none;
  /* max-width: 768px; */
  line-height: 1.1em;
  color: var(--theme-colors-white);

  font-size: var(--theme-page-loaderTitleFontSizeFinal);
  flex-shrink: 0;
  text-align: center;
}
