/* START css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
/* h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
} */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* END css reset */

/* START global styles */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black);
}
/* body {
  overscroll-behavior: none;
} */
div,
pre,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: inherit;
}

body {
  background: transparent;
}

html {
  font-size: 62.5%; /* default 16px --> 10px for clear rem values */
}

/* <weight>: 100-900 */
.raleway {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.raleway-italic {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: italic;
}

.changa-one-regular {
  font-family: 'Changa One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: 'Changa One', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    background: transparent;
    width: 0px;
    display: none;
  }
}

.contact-dialog {
  background-color: var(--white);
  color: var(--black);
  padding: calc(4 * var(--atomicPadding));
  h1 {
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.1em;
    letter-spacing: 0.02em;
  }
}

.contact-email {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
  font-size: 1.8rem;
  line-height: 2em;
  margin-top: 16px;
  padding-left: 16px;
  font-weight: 400;
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--black);
  span:last-child {
    display: inline-block;
    height: 100%;
    font-size: 1.4rem;
    line-height: 3.6rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-flex;
    padding: 0 16px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--black);
    &:hover {
      cursor: pointer;
      font-weight: 500;
    }
    span {
      width: 51px;
      text-align: center;
    }
  }
}

.bg-404 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-45deg, var(--white), #899394);
  transition: opacity 1s;
}

.title-404 {
  left: -100%;
  line-height: 1em;
  font-size: 8rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.subtitle-404 {
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 400;
  max-width: 240px;
  padding-top: 16px;
}

.home-404 {
  position: absolute;
  right: 64px;
  top: calc(var(--navHeight) / 2);
  transform: translateY(-50%);
}

.home-404:hover {
  cursor: pointer;
}
.home-404 svg {
  width: 36px;
  height: 36px;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}

@media screen and (max-width: 450px) {
  .contact-dialog {
    padding: calc(4 * var(--atomicPadding)) calc(2 * var(--atomicPadding));
  }
  .contact-dialog h1 {
    font-size: 2.2rem;
  }
  .contact-email {
    column-gap: 8px;
    font-size: 1.4rem;
    padding-left: 8px;
  }

  .contact-email span:last-child {
    font-size: 1rem;
    padding: 0;
  }
}

div.loader-global {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: all 1s;
  video {
    pointer-events: none;
  }
}

/* END global styles */
