.footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 300;
  pointer-events: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 128px;
}

.github,
.linkedin,
.youtube,
.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  &:hover {
    cursor: pointer;
  }
  svg {
    width: 36px;
    height: 36px;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
  }
}

.linkedin svg {
  width: 33px;
  height: 33px;
}
.github svg {
  width: 29px;
  height: 29px;
}
.contact svg {
  width: 32px;
  height: 32px;
}

.socials {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
