.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--theme-colors-white);
  padding-bottom: var(--theme-lengths-topBottomPadding);
}

.inner {
  pointer-events: none;
  width: 100%;
  max-width: var(--theme-lengths-maxWidth);
  height: var(--theme-lengths-footerHeight);
  padding: 0 var(--theme-lengths-sidePadding);
  > * {
    pointer-events: auto;
  }
}
