.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.photoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.controlsDescriptionContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.control {
  width: 48px;
  height: 48px;
  &:hover {
    cursor: pointer;
  }
  &:last-child {
    transform: rotateZ(180deg);
  }
}

.description {
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 0;
  margin-top: 0;
  padding-left: 16px;
  font-weight: 400;
}
