.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin-left: calc(8 * var(--atomicPadding));
  margin-right: calc(8 * var(--atomicPadding));
}
.photoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.controlsDescriptionContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(8 * var(--atomicPadding));
  padding-right: calc(8 * var(--atomicPadding));
}

.control {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  color: var(--white);
  &:hover {
    cursor: pointer;
  }

  svg {
    height: 100%;
    width: 100%;
    font-size: 36px;
  }
}

.description {
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 0 calc(2 * var(--atomicPadding));
  margin-top: 0;
  font-weight: 400;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .container {
    margin-left: calc(4 * var(--atomicPadding));
    margin-right: calc(4 * var(--atomicPadding));
  }
  .controlsDescriptionContainer {
    padding-left: calc(4 * var(--atomicPadding));
    padding-right: calc(4 * var(--atomicPadding));
  }

  .control {
    width: 30px;
    height: 30px;
  }
  .control svg {
    font-size: 30px;
  }
  .description {
    font-size: 1.4rem;
  }
}
