.titleWithDescription {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 0.8em;
  align-items: center;
  padding: 16px 24px 0 24px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px; */
  h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.04rem;
    font-weight: 500;
  }
}
