.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  /* scrollbar-width: none; */ /* Firefox */
  /* -ms-overflow-style: none; */ /* IE 10+ */
  /* ::-webkit-scrollbar {
    background: transparent; 
    width: 0px;
  } */ /* Chrome/Safari/Webkit */
  > * {
    background: transparent !important;
  }
}

.html {
  width: 100%;
  height: 0;
  transform: none !important;
  position: sticky !important;
  z-index: 200 !important;
}

.view {
  width: 100vw;
  height: 100vh;
}
