.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 400;
  transition:
    backdrop-filter 0.2s ease-in,
    opacity 0.2s ease-in;
  backdrop-filter: blur(0px);
}

.exit {
  position: absolute;

  transform: translateY(-50%);
  width: 60px;
  height: 60x;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
