.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(30px) grayscale(0.9) brightness(0.5) sepia(0.1)
    contrast(1.3);
  color: var(--theme-colors-white);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  justify-content: center;
}

.contentInner {
  position: absolute;
  width: 100%;
  max-width: var(--theme-lengths-maxWidth);

  h1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-align: left;
    padding: 0 var(--theme-lengths-sidePadding);
    @media (max-height: 600px) {
      font-size: 3.6rem;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      @media (max-height: 800px) {
        font-size: 3.6rem;
      }
      @media (max-height: 500px) {
        font-size: 2.4rem;
      }
    }
    @media (max-width: 400px) {
      font-size: 3.6rem;
      @media (max-height: 800px) {
        font-size: 2.4rem;
      }
    }
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.2em;
    font-weight: 400;
    margin-right: auto;
    padding: 0 var(--theme-lengths-sidePadding);
    padding-top: 1em;
    max-width: 650px;
    text-align: left;
    @media (max-height: 600px) {
      font-size: 1.4rem;
    }
    @media (max-height: 400px) {
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      @media (max-height: 800px) {
        font-size: 1.4rem;
      }
    }
    @media (max-width: 400px) {
      font-size: 1.4rem;
    }
  }
}
.contentInnerCenter {
  position: relative;
  width: 100%;
  max-width: var(--theme-lengths-maxWidth);
  h1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 400px) {
      font-size: 3.6rem;
    }
    @media (max-height: 600px) {
      font-size: 3.6rem;
    }
  }
  h3 {
    font-size: 1.6rem;
    position: absolute;
    top: 100%;
    left: 50%;
    font-weight: 400;
    margin: 0 auto;
    padding-right: var(--theme-lengths-sidePadding);
    width: 50%;
    text-align: left;
    @media (max-width: 400px) {
      font-size: 1.4rem;
    }
    @media (max-height: 600px) {
      font-size: 1.4rem;
    }
  }
}

@keyframes float {
  from {
    transform: translateY(-10%);
  }

  to {
    transform: translateY(10%);
  }
}
.float {
  animation-name: float;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.scrollIcon {
  transition:
    opacity 0.2s,
    transform 0.2s;
  &:hover {
    cursor: pointer;
  }
}

.upsideDown {
  > *:first-child {
    transform: rotate(180deg);
  }
}

.progress {
  line-height: 0;
  font-size: var(--theme-lengths-loaderSize);
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  @media (max-height: 600px) {
    top: 80%;
  }
  h4 {
    padding-top: 12px;
    position: relative;
    font-weight: 300;
    font-size: 1.2rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 600px) {
      font-size: 1rem;
      padding-top: 8px;
    }
    @media (max-height: 700px) {
      font-size: 1rem;
      padding-top: 8px;
    }
  }
}
