.container {
  padding-bottom: 24px;
  padding-top: 8px;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 24px 8px 24px;
  column-gap: 1em;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px; */
  h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.04rem;
    font-weight: 500;
  }
  svg {
    &:hover {
      cursor: pointer;
    }
  }
  > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.switch {
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 38px;
  h5 {
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    line-height: 1.1em;
    font-weight: 400;
    width: 100px;
  }
  > div:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 1em;
    align-items: center;
    > div {
      /* background-color: var(--theme-colors-black); */
      border: 1px solid var(--theme-colors-black);
      transition: all 0.1s ease-out;
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 1em;
      font-weight: 400;
      width: 3em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      &:hover {
        cursor: default;
      }
    }
  }
  > div:last-child {
    width: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}

.popover {
  font-weight: 400;
  padding: calc(3 * var(--theme-lengths-atomicPadding));
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  line-height: 1.2em;
  font-weight: 400;
  background-color: var(--theme-colors-white);
  color: var(--theme-colors-black);
  max-width: 200px;
}

.slider {
  font-weight: 400;
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  h5 {
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    line-height: 1.1em;
    font-weight: 400;
    width: 100px;
  }
  > div:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 1em;
    align-items: center;
    > div {
      /* background-color: var(--theme-colors-black); */
      border: 1px solid var(--theme-colors-black);
      transition: all 0.1s ease-out;
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 1em;
      font-weight: 400;
      width: 3em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      &:hover {
        cursor: default;
      }
    }
  }
  > div:last-child {
    width: 70px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 24px;
  padding: 0 24px;
  margin-top: 24px;
}

.button {
  font-weight: 350;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--theme-colors-black);
  transition: all 0.1s ease-out;
}

.activeButton {
  opacity: 1;
  background-color: transparent;
  color: var(--theme-colors-black);
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  &:hover {
    cursor: pointer;
    background-color: var(--theme-colors-black);
    color: var(--theme-colors-white);
  }
}
.disabledButton {
  opacity: 0.2;
  background-color: var(--theme-colors-black);
  color: var(--theme-colors-white);
  &:hover {
    cursor: not-allowed;
  }
}
