.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 300;
}

.droppable {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
.draggable {
  pointer-events: auto;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 20px 1px;
  border-radius: 10px;
  position: absolute;
  width: 350px;
  @media (max-width: 450px) {
    max-width: calc(100% - 2 * var(--theme-lengths-sidePadding));
  }
}
.settings {
  background: var(--theme-colors-white);
  border-radius: 10px;
  position: relative;
}
.panel {
  font-weight: 700;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  transition: all 0.35s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.08rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 360px) {
      font-size: 1.6rem;
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    flex-wrap: nowrap;
    &:last-child {
      padding-right: 24px;
    }
    @media (max-width: 450px) {
      column-gap: 4px;
    }
  }
}
.minimize {
  transform: rotate(-90deg);
  transition: all 0.35s;
}
.content {
  font-weight: 400;
  transition: all 0.35s;
}

.dragCursor {
  padding: 12px 24px;
  border-top-left-radius: 10px;
  &:hover {
    cursor: move;
    cursor: grab;
    backdrop-filter: invert(100%) opacity(0.1);
  }
  &:active {
    cursor: grabbing;
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  &:hover {
    cursor: pointer;
    backdrop-filter: invert(100%) opacity(0.1);
  }
}

.notification {
  max-height: 200px;
  padding: 0 24px;
  transition: all 0.35s;
  opacity: 1;
  > * {
    border-radius: 4px;
    padding: 8px 0;
    font-size: 1.2rem;
    color: var(--theme-colors-white);
    background-color: var(--theme-colors-black);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  }
}

.notificationIcon {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0 8px;
  button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}

.notificationText {
  flex-grow: 1;
  line-height: 1.3em;
}

.footer {
  height: 24px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--theme-colors-white) 99%
  );
  pointer-events: none;
  position: absolute;
  bottom: -1px; /* addresses bottom pixel leak on menu scroll */
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--theme-colors-black);
  font-size: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  > div {
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
