.droppable {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
.draggable {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 10px;
  position: absolute;
  width: 350px;
}
.settings {
  background: var(--white);
  border-radius: 10px;
}
.panel {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  transition: box-shadow 0.35s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.1em;
    /* letter-spacing: 0.04rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    flex-wrap: nowrap;
    &:last-child {
      padding-right: 24px;
    }
  }
}
.minimize {
  transform: rotate(-90deg);
  transition: all 0.35s;
}
.content {
  overflow: hidden;
  transition: max-height 0.35s;
}

.dragCursor {
  padding: 12px 24px;
  border-top-left-radius: 10px;
  &:hover {
    cursor: move;
    cursor: grab;
    /* background-color: var(--black); */
    backdrop-filter: invert(100%) opacity(0.1);
  }
  &:active {
    cursor: grabbing;
  }
}

.icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  &:hover {
    cursor: pointer;
    backdrop-filter: invert(100%) opacity(0.1);
  }
}
