.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 300;
}
.pages {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  > * {
    width: 45px;
    height: 45px;
    &:hover {
      cursor: pointer;
    }
  }
}

.active {
  background-color: #000;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 2px;
  transform: translate(-50%);
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 90px;
  width: 90px;
  > * {
    width: 100%;
    height: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}
