.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: var(--theme-colors-white);
  padding-top: var(--theme-lengths-topBottomPadding);
}

.inner {
  pointer-events: none;
  width: 100%;
  max-width: var(--theme-lengths-maxWidth);
  height: var(--theme-lengths-navHeight);
  padding: 0 var(--theme-lengths-sidePadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  > * {
    pointer-events: auto;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: calc(1 * var(--theme-lengths-atomicPadding));
  flex-wrap: nowrap;
}
.logo {
  height: 48px;
  width: 48px;
  > * {
    width: 100%;
    height: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}
.name {
  font-size: 2.2rem;
  letter-spacing: 0.03em;
}

.pages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: calc(6 * var(--theme-lengths-atomicPadding));
  pointer-events: none;
  font-size: 24px;
  color: var(--theme-colors-white);
  > * {
    line-height: 1em;
    pointer-events: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 18px;
    max-height: 18px;
    &:hover {
      cursor: pointer;
    }

    &:nth-child(3) svg {
      transform: scale(calc(0.9));
    }
  }
}

.divider {
  width: 1px;
  height: 20px;
  max-height: 20px;
  margin: 0 calc(1 * var(--theme-lengths-atomicPadding));
  background-color: var(--theme-colors-white);
  opacity: 0.6;
  &:hover {
    cursor: auto;
  }
}
