.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--theme-page-scrollContainerHeight);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 2px;
}
.item {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--theme-colors-white);
  backdrop-filter: blur(60px);
  opacity: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}
