* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  --charcoal: #273b4e;
  --purple: #2b253a;
  --gunmetal: #122629;
  --midnight: #103334;
  --slate: #134643;
  --white: #ffffff;
}

@property --p0 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p1 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p2 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p3 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p4 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
}

html {
  font-size: 62.5%; /* default 16px --> 10px for clear rem values */
}
body {
  font-size: 2.2rem; /* font size = 16px */
}
h1 {
  font-size: 6rem; /* font size = 32px */
  margin: 0;
  margin-bottom: 1.7rem;
  padding: 0;
  line-height: 0.95em;
}
h2 {
  font-size: 1.8rem; /* font size = 24px */
  margin: 0;
  padding: 0;
  margin-bottom: 1.6rem;
}
p {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 2.2rem; /* font size = 16px */
  line-height: 1.4em;
}

/* @media (width <= 32rem) {
  h1 {
  	font-size: 2rem;
  }
}	 */

body {
  background: transparent;
  color: #fff;
}

#eventContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#canvas,
#main {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#canvas {
  z-index: -1;
  pointer-events: none;
}

#main {
  margin: 100px auto;
}

.content {
  max-width: 1200px;
  margin: auto;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}

#navContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

#navItems > * {
  display: inline-block;
  margin-left: 2rem;
  &:hover {
    cursor: pointer;
  }
}

#logo {
  &:hover {
    cursor: pointer;
  }
}

#socials,
#settings {
  width: 185px;
}

#socials,
#settings {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

#socials > *,
#settings > * {
  flex-shrink: 1;
  flex-grow: 1;
  aspect-ratio: 1/1;
  &:hover {
    cursor: pointer;
  }
}

#pageInfo {
  flex-grow: 1;
}

#tracking {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 60%;
}

#description {
  position: absolute;
  top: 50%;
  width: 60%;
  max-height: 80%;
  transform: translateY(-50%);
  overflow-y: scroll;
  padding: 2em;
}

/* variable weight 300-700 */
.space-grotesk,
body {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.space-mono-regular,
h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}
.righteous-regular,
h1 {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
}
