* {
  box-sizing: border-box;
}

:root {
  /* colors */
  color-scheme: dark;
  --charcoal: #273b4e;
  --purple: #2b253a;
  --gunmetal: #122629;
  --midnight: #103334;
  --slate: #134643;
  --black: #101010;
  --white: #ffffff;
  --red: #330000;
  /* lengths */
  --navFooterHeight: 100px;
  --navFooterPadding: 16px;
  --maxContent: 1200px;
  --socialsSettingsWidth: 185px;
  --mainElementPadding: 2rem;
  --menuHeight: calc(50vh - var(--navFooterHeight) - var(--mainElementPadding));
}

@property --iconAngle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@property --iconBorder {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(255, 255, 255, 0.2);
}

@property --fpsFactor {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --fpsBar {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --fpsColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #134643; /* slate */
}

@property --progress {
  syntax: '<color>';
  inherits: false;
  initial-value: var(--slate);
}

@property --p0 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p1 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p2 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p3 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --p4 {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --loaderBG {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div,
pre {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
}

html {
  font-size: 62.5%; /* default 16px --> 10px for clear rem values */
}
body {
  font-size: 2.2rem; /* font size = 22px */
}
h1 {
  font-size: 6rem; /* font size = 60px */
  margin: 0;
  margin-bottom: 1.4rem;
  padding: 0;
  line-height: 0.95em;
}
h2 {
  font-size: 2.2rem; /* font size = 18px */
  margin: 0;
  padding: 0;
  margin-bottom: 1.4rem;
}
p {
  margin-bottom: 1.6rem;
  padding: 0;
  font-size: 2.2rem; /* font size = 22px */
  line-height: 1.4em;
}

/* @media (width <= 32rem) {
  h1 {
  	font-size: 2rem;
  }
}	 */

body {
  background: transparent;
  color: var(--white);
}

#eventContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding-bottom: calc(var(--navFooterHeight));
  padding-top: calc(var(--navFooterHeight) - var(--navFooterPadding));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#canvas {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#canvas {
  z-index: -1;
  pointer-events: none;
}

.content {
  max-width: var(--maxContent);
  margin: auto;
}

#socials,
#settings,
#pageInfo {
  width: var(--socialsSettingsWidth);
  position: relative;
}

#socials,
#settings,
#pageInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

#socials > *,
#settings > * {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.2s;
  &:hover {
    cursor: pointer;
  }
}

#performanceContainer {
  position: relative;
}
#pageInfo > * {
  flex-shrink: 1;
  flex-grow: 1;
  aspect-ratio: 1/1;
  transition: transform 0.2s;
}

#performance {
  position: absolute;
  left: 0;
  right: calc(-200% - 2 * (20px));
  height: 100%;
  opacity: 0.75;
}

@keyframes fpsGradient {
  0% {
    --fpsBar: 0;
  }
  100% {
    --fpsBar: var(--fpsFactor);
  }
}

#fps,
#fpsBorder {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  border-radius: 3px;
}
#fps {
  filter: brightness(1.8);
  background: linear-gradient(
      to right,
      transparent 0%,
      rgba(255, 255, 255, 0.35) var(--fpsBar),
      transparent var(--fpsFactor),
      var(--white) var(--fpsFactor),
      var(--white) calc(var(--fpsFactor) + 2px),
      transparent calc(var(--fpsFactor) + 2px)
    ),
    linear-gradient(
      to right,
      var(--fpsColor) 0%,
      var(--fpsColor) var(--fpsFactor),
      transparent var(--fpsFactor)
    );
  width: 100%;
  transition:
    --fpsFactor 3s,
    --fpsBar 3s,
    --fpsColor 3s ease-in;

  animation: fpsGradient 3s linear infinite;
}

#fpsBorder {
  width: 100%;
  border: 1px solid var(--white);
}

#fpsBoost {
  position: absolute;
  bottom: 0;
  line-height: 1em;
  right: 0;
  font-size: 10px;
  text-align: center;
  padding: 3px;
  width: calc(50% - 3px);
  border-radius: 3px;
  border: 1px solid var(--white);
  color: var(--white);
}
#fpsThrottle {
  position: absolute;
  bottom: 0;
  line-height: 1em;
  left: 0;
  font-size: 10px;
  text-align: center;
  padding: 3px;
  width: calc(50% - 3px);
  border-radius: 3px;
  border: 1px solid var(--white);
  color: var(--white);
}

#fpsLabel,
#settingsLabel,
#socialsLabel {
  position: absolute;
  top: calc(100% + 16px);
  line-height: 1em;

  left: 50%;
  letter-spacing: 2px;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
}

#settingsLabel,
#socialsLabel {
  aspect-ratio: auto;
  width: 100%;
}

#fpsBoost:hover,
#fpsThrottle:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
}

.anonymous-pro-regular,
body {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-style: normal;
}

.anonymous-pro-regular-italic {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  font-style: italic;
}

.anonymous-pro-bold-italic {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-style: italic;
}

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
  /* text-transform: uppercase; */
}

.space-mono-regular-italic,
h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}
.righteous-regular,
h1 {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.05em;
}

/* loader */
#loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 200;
}
@keyframes op1 {
  50% {
    --loaderBG: 0.38;
  }
}
#loadingContainer .overlay {
  animation: op1 2.9s ease-out alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      rgba(0, 0, 0, 0.05) 30px,
      rgba(0, 0, 0, var(--loaderBG))
    ),
    radial-gradient(var(--slate), var(--gunmetal));

  z-index: -1;
}

#loadingContainer .loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loadingContainer .labelContainer {
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translateX(-50%);
}

/* loader */
#loadingContainer .loader {
  opacity: 0.05;
  --s: 80px;
  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
  filter: drop-shadow(0 0 0 var(--white));
  animation: l2 2.9s ease-out infinite;
}
#loadingContainer .loader:before {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    var(--slate) 135deg,
    var(--gunmetal) 0 270deg,
    var(--midnight) 0
  );
}
@keyframes l2 {
  50% {
    filter: drop-shadow(0 0 40px var(--white));
    opacity: 0.85;
  }
}

/*  label */

#loadingContainer .label {
  opacity: 0.65;
  width: 120px;
  text-align: left;
  font-size: 22px;
}
#loadingContainer .label:before {
  content: 'Loading...';
  animation: l4 1.45s linear infinite;
}
@keyframes l4 {
  25% {
    content: 'Loading..';
  }
  50% {
    content: 'Loading.';
  }
  75% {
    content: 'Loading';
  }
  100% {
    content: 'Loading...';
  }
}
