.tracking-home {
  width: 40%;
  top: 0;
  left: 60%;
  bottom: 0;
}
.tracking-gallery {
  left: 60%;
  right: 0;
  top: 0%;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 24px;
  > * {
    flex-shrink: 1;
    flex-grow: 1;
    width: 20%;
  }
}

.tracking-home-open {
  bottom: calc(50% + var(--mainElementPadding));
}

.description-home {
  transform: translateY(50%);
  width: 60%;
  /* overflow-y: scroll; */
  padding: 2em;
  bottom: calc(50%);
}

.description-gallery {
  top: 50%;
  left: 0;
  width: 60%;
  transform: translateY(-50%);
  /* overflow-y: scroll; */
  padding: 2em;
}
.description-home-open {
  bottom: calc(75% + var(--mainElementPadding));
}

.code-home {
  bottom: 0;
  left: 0;
  right: 0;
}

.options-home {
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  bottom: var(--mainElementPadding);
  left: 0;
  right: 0;
  border-radius: 3px;
  height: 0px;
  transition:
    height 0.5s,
    opacity 0.5s,
    padding 0.5s;
  opacity: 0;
  overflow-y: scroll;
  pre {
    line-height: 1.5em;
  }
}

.menu-open {
  display: auto;
  opacity: 0.9;
  height: calc(var(--menuHeight));
  padding: calc(1 * var(--mainElementPadding));
}

.menu-colors {
  vertical-align: middle;
}
.menu-colors > span {
  &:hover {
    cursor: pointer;
  }
  &:nth-child(2) {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: blue;
  }
}
.progress {
  /* styles */
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  bottom: var(--mainElementPadding);
  transition: bottom 0.5s;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 24px;
  > * {
    flex-shrink: 1;
    flex-grow: 1;
    opacity: 0.8;
    border-radius: 3px;
    &:nth-child(1) {
      --p0: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p0),
        transparent var(--p0)
      );
      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(2) {
      --p1: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p1),
        transparent var(--p1)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(3) {
      --p2: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p2),
        transparent var(--p2)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(4) {
      --p3: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p3),
        transparent var(--p3)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(5) {
      --p4: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p4),
        transparent var(--p4)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
  }
}

.progress-menu {
  bottom: calc(
    var(--mainElementPadding) + var(--mainElementPadding) + var(--menuHeight)
  );
}
