.controls {
  padding: 0;
}
.controls-open {
  padding: 0;
}
.tracking-home {
  width: 40%;
  top: 0;
  left: 60%;
  bottom: 0;
}
.tracking-gallery {
  left: 0%;
  right: 60%;
  bottom: calc(20% + 10px + (2 * var(--mainElementPadding)));

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  margin: 0 2em;
  column-gap: 1em;
  > * {
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: 2em;
    aspect-ratio: 1/1;
  }
}

.tracking-home-open {
  bottom: 0;
}
.tracking-gallery-open {
  bottom: calc(10px + (2 * var(--mainElementPadding)));
}

.description-home {
  transform: translateY(50%);
  width: 60%;
  /* overflow-y: scroll; */
  padding: 2em;
  bottom: calc(50%);
}

.description-gallery {
  width: 50%;
  /* overflow-y: scroll; */
  padding: 0 2em;
  top: 50%;
  transform: translateY(-100%);
}
.description-home-open {
  bottom: calc(50%);
}
.description-gallery-open {
  top: 50%;
}

.code-home {
  bottom: 0;
  left: 0;
  right: 0;
}

.code-gallery {
  bottom: calc(20% + 10px + (2 * var(--mainElementPadding)));
  aspect-ratio: 1/1;
  left: 50%;
  right: 0;
}

.code-gallery-open {
  top: 0;
  aspect-ratio: auto;
  bottom: calc(10px + (2 * var(--mainElementPadding)));
}

.options-home {
  bottom: 0;
  left: 0;
  right: 0;
}

.menu {
  padding: 0 var(--mainElementPadding);
  width: 100%;
  border-radius: 3px;
  max-height: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  transition:
    max-height 0.5s,
    opacity 0.5s,
    margin-bottom 0.5s;
  opacity: 0;
  overflow-y: scroll;
  pre {
    line-height: 1.5em;
  }
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 33.33%;
  }
}

.menu-open {
  opacity: 0.9;
  max-height: 50%;
  margin-bottom: calc(var(--mainElementPadding));
}

.menu-colors {
  vertical-align: middle;
}
.menu-colors > span {
  &:hover {
    cursor: pointer;
  }
  &:nth-child(2) {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
  }
}
.progress {
  /* styles */
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  bottom: var(--mainElementPadding);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 24px;
  > * {
    flex-shrink: 1;
    flex-grow: 1;
    opacity: 0.8;
    border-radius: 3px;
    &:nth-child(1) {
      --p0: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p0),
        transparent var(--p0)
      );
      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(2) {
      --p1: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p1),
        transparent var(--p1)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(3) {
      --p2: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p2),
        transparent var(--p2)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(4) {
      --p3: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p3),
        transparent var(--p3)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
    &:nth-child(5) {
      --p4: 0%;
      background: linear-gradient(
        to right,
        var(--white) 0%,
        var(--white) var(--p4),
        transparent var(--p4)
      );

      background-color: var(--progress);
      transition: background-color 1.5s;
    }
  }
}
