.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 200;
}
@keyframes op1 {
  50% {
    --loaderBG: 0.38;
  }
}
.overlay {
  animation: op1 2.9s ease-out alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      rgba(0, 0, 0, 0.05) 30px,
      rgba(0, 0, 0, var(--loaderBG))
    ),
    radial-gradient(var(--slate), var(--gunmetal));

  z-index: -1;
}

.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.labelContainer {
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translateX(-50%);
}

/* loader */
.loader {
  opacity: 0.05;
  --s: 80px;
  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
  filter: drop-shadow(0 0 0 var(--white));
  animation: l2 2.9s ease-out infinite;
}
.loader:before {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    var(--slate) 135deg,
    var(--gunmetal) 0 270deg,
    var(--midnight) 0
  );
}
@keyframes l2 {
  50% {
    filter: drop-shadow(0 0 40px var(--white));
    opacity: 0.85;
  }
}

/*  label */

.label {
  opacity: 0.65;
  width: fit-content;
  font-size: 22px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1.45s steps(4) infinite;
}
.label:before {
  content: 'Loading...';
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
