.scrollContainer {
  height: 200vh;
  width: 100%;
  pointer-events: none;

  h1 {
    text-align: center;
    font-size: 8rem;
    transform: translateY(80vh);
    pointer-events: auto;
  }
}

.fixedContainer {
  z-index: 500;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.titleContainer {
  position: absolute;
  top: calc(
    var(--theme-lengths-navHeight) + var(--theme-lengths-topBottomPadding)
  );
  left: 0;
  right: 0;
  padding: calc(2 * var(--theme-lengths-topBottomPadding)) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    max-width: var(--theme-lengths-maxWidth);
    padding: 0 var(--theme-lengths-sidePadding);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: calc(1 * var(--theme-lengths-topBottomPadding));
  }
}

.titleText {
  pointer-events: auto;
  text-align: center;
  font-size: 5rem;
  color: var(--theme-colors-white);
  letter-spacing: 0.04em;
  flex-grow: 0;
  max-width: 768px;
}

.titleImage {
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 1/1;
  max-height: 200px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
