.scrollContainer {
  height: 200vh;
  width: 100%;
  pointer-events: none;

  h1 {
    opacity: 0;
    color: var(--theme-colors-white);
    text-align: center;
    font-size: 8rem;
    transform: translateY(80vh);
    pointer-events: auto;
  }
}

.fixedContainer {
  z-index: 500;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
