.main {
  width: 100%;
  height: 100%;
}

.title {
  left: -100%;
  line-height: 1em;
  opacity: 0;
  display: inline-block;
  position: absolute;
  transition: opacity 0.2s ease-in;
}

.subtitleContainer {
  left: -100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  position: absolute;
  display: inline-block;
}

.subtitle {
  font-weight: inherit !important;
}

.description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.2rem;
  line-height: 1.1em;
  padding: 8px 4px;
  padding-left: 16px;
  width: 100%;
  opacity: 0;
}

.itemDescriptionContainer {
  position: absolute;
  transition: opacity 0.1s ease-in;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 64px;
  backdrop-filter: blur(60px);
  /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.itemDescription {
  padding: 32px 64px;
  max-width: 600px;

  > div {
    position: relative;
  }

  h1 {
    font-size: 2.8rem;
    line-height: 1.1em;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 1em;
    font-weight: 300;
    padding-top: 10px;
    text-transform: capitalize;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.4em;
    margin-top: 16px;
    padding-left: 16px;
    font-weight: 400;
  }
}

.itemDescriptionBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.accent {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--slate);
  opacity: 0.8;
}

.separator {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: var(--slate);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 2px;
}

.button {
  font-size: 1.8rem;
  line-height: 1.5em;
  padding: 6px;
  width: 100%;
  margin-top: 24px;
  font-variation-settings: 'wdth' 100;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0.8;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: all 0.1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--slate);
    color: var(--white);
  }
}

.photoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  line-height: 1.5em;
  backdrop-filter: blur(30px);
  padding: 6px;
  font-variation-settings: 'wdth' 100;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition-property: opacity, border, background-color, color;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  pointer-events: none;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--midnight);
    color: var(--white);
  }
}

/* nav */
.iconContainer {
  transition: color 0.2s ease-in;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.active {
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 6px;
  transform: translate(-50%);
}

/* footer */
@keyframes reveal {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: -20px;
  }
  100% {
    margin-bottom: 0px;
  }
}

.down {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: reveal 3s ease-in-out infinite;
  pointer-events: none;
  bottom: 25vh;
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in;
  &:hover {
    cursor: pointer;
  }
  svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
  }
}

.scroll {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 2px;
  border: 2px solid black;
  transform: translate(-50%, 50%);
  height: 34px;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 2px;
  align-items: stretch;
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 0;
    &:hover {
      cursor: pointer;
      background-color: var(--black);
      opacity: 0.3;
    }
  }
}

.performance {
  font-size: 1.4rem;
}

.fps {
  text-align: left;
  width: 130px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.settings {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  &:hover {
    cursor: pointer;
  }
  svg {
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
  }
}
