.main {
  width: 100%;
  height: 100%;
}

.title {
  line-height: 1em;
  opacity: 0;
  display: inline-block;
  position: absolute;
}

.subtitle {
  line-height: 1em;
  opacity: 0;
  position: absolute;
  display: inline-block;
  p {
    width: 100%;
  }
}

.description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.2rem;
  line-height: 1.1em;
  padding: 8px 4px;
  padding-left: 16px;
  width: 100%;
  opacity: 0;
}

.itemDescriptionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.1s ease-in;
  opacity: 0;
  pointer-events: none;
}
.itemDescription {
  position: relative;
  margin-top: 16px;
  padding-left: 16px;

  h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
    font-weight: 450;
    font-variation-settings:
      'wdth' 75,
      'YTLC' 540;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 400;
    padding-top: 8px;
    text-transform: uppercase;
    font-variation-settings:
      'wdth' 75,
      'YTLC' 540;
  }
  p {
    font-size: 1.8rem;
    line-height: 1.5em;
    padding-top: 12px;
    font-weight: 400;
    font-variation-settings: 'wdth' 100;
  }
}

.accent {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  height: calc(100%);
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  background-color: var(--slate);
  opacity: 0.8;
}

.separator {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: var(--slate);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 2px;
}

.button {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 16px;
  margin-top: 24px;
  font-size: 1.8rem;
  line-height: 1.5em;
  padding: 6px;
  font-variation-settings: 'wdth' 100;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0.8;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: all 0.1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--slate);
    color: var(--white);
  }
}

.photoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  line-height: 1.5em;
  padding: 6px;
  font-variation-settings: 'wdth' 100;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: 0;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition-property: opacity, border, background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  pointer-events: none;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--midnight);
    color: var(--white);
  }
}

/* nav */
.iconContainer {
  transition: color 0.2s ease-in;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.active {
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 6px;
  transform: translate(-50%);
}

/* footer */
@keyframes reveal {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: -20px;
  }
  100% {
    margin-bottom: 0px;
  }
}

.down {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: reveal 3s ease-in-out infinite;
  pointer-events: none;
  bottom: 25vh;
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in;
  &:hover {
    cursor: pointer;
  }
  svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
  }
}

.scroll {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 2px;
  border: 2px solid black;
  transform: translate(-50%, 50%);
  height: 34px;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

.performance {
  font-size: 1.4rem;
}

.fps {
  text-align: left;
  width: 130px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.settings {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
  > svg {
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
    width: 100%;
    height: 100%;
  }
}
