/* static */
.accent {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--slate);
}
.slateBackground {
  background-color: var(--slate);
}
.purpleBackground {
  background-color: var(--purple);
}

.slateBackgroundOnHover:hover {
  background-color: var(--slate);
}

.purpleBackgroundOnHover:hover {
  background-color: var(--purple);
}
.itemDescriptionContainer {
  position: absolute;
  transition: opacity 0.1s ease-in;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  bottom: var(--footerHeight);
  left: calc(100% - 61.8%);
  right: 0;
}

.itemDescription {
  backdrop-filter: blur(60px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  > div {
    position: relative;
  }
  > * {
    max-width: 600px;
  }
  h1 {
    line-height: 1.1em;
  }
  h3 {
    line-height: 1em;
    font-weight: 300;
    text-transform: capitalize;
  }
  p {
    line-height: 1.4em;
    font-weight: 400;
  }
}

.button {
  width: 100%;
  font-variation-settings: 'wdth' 100;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: all 0.1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  line-height: 2em;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--black);
    color: var(--white);
  }
}
/* responsive */
.itemDescriptionContainer {
  @media (min-width: 1001px) {
    @media (max-height: 450px) {
      bottom: calc(var(--footerHeight) - 16px);
    }
  }
  @media (min-width: 769px) and (max-width: 1000px) {
    @media (max-height: 600px) {
      left: calc(100% - 65%);
    }
    @media (max-height: 450px) {
      bottom: calc(var(--footerHeight) - 16px);
    }
  }
  @media (max-width: 768px) and (min-width: 501px) {
    @media (max-height: 600px) and (min-height: 501px) {
      left: var(--sidePadding);
      justify-content: flex-end;
    }
    @media (max-height: 450px) {
      bottom: calc(var(--footerHeight) - 16px);
    }
  }
  @media (max-width: 500px) {
    @media (min-height: 501px) {
      left: var(--sidePadding);
      justify-content: flex-end;
    }
    @media (max-height: 450px) {
      bottom: calc(var(--footerHeight) - 16px);
    }
  }
  @media (max-width: 450px) {
    left: var(--sidePadding);
    justify-content: flex-end;
    @media (max-height: 450px) {
      bottom: calc(var(--footerHeight) - 16px);
      justify-content: center;
      left: calc(100% - 61.8%);
    }
  }
}
.itemDescription {
  @media (min-width: 1001px) {
    margin: 16px 0;
    padding: 48px var(--sidePadding);
    h1 {
      font-size: var(--fontSizeLgSubtitle);
    }
    h3 {
      font-size: var(--fontSizeXsSubtitle);
      padding-top: 10px;
    }
    p {
      font-size: var(--fontSizeMdText);
      margin-top: 16px;
      padding-left: 12px;
    }
    @media (max-height: 600px) {
      padding: 32px var(--sidePadding) 32px calc(var(--sidePadding) / 2);
      h1 {
        font-size: var(--fontSizeMdSubtitle);
      }
      h3 {
        font-size: var(--fontSizeXsText);
        padding-top: 6px;
      }
      p {
        font-size: var(--fontSizeSmText);
        margin-top: 12px;
        padding-left: 12px;
      }
    }
    @media (max-height: 450px) {
      margin: 0;
      margin-top: 8px;
      p {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }
    }
    @media (max-height: 360px) {
      padding: 16px var(--sidePadding) 16px calc(var(--sidePadding) / 2);
    }
  }
  @media (max-width: 1000px) and (min-width: 769px) {
    margin: 16px 0;
    padding: 48px var(--sidePadding);
    h1 {
      font-size: var(--fontSizeLgSubtitle);
    }
    h3 {
      font-size: var(--fontSizeXsSubtitle);
      padding-top: 10px;
    }
    p {
      font-size: var(--fontSizeMdText);
      margin-top: 16px;
      padding-left: 12px;
    }
    @media (max-height: 800px) {
      h1 {
        font-size: var(--fontSizeMdSubtitle);
      }
      h3 {
        font-size: var(--fontSizeXsText);
        padding-top: 6px;
      }
      p {
        font-size: var(--fontSizeSmText);
        margin-top: 12px;
        padding-left: 12px;
      }
    }
    @media (max-height: 600px) {
      margin: 0;
      margin-top: 16px;
      padding: 32px var(--sidePadding) 32px calc(var(--sidePadding) / 2);
    }
    @media (max-height: 450px) {
      margin: 0;
      margin-top: 8px;
      p {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }
    }
    @media (max-height: 360px) {
      padding: 16px var(--sidePadding) 16px calc(var(--sidePadding) / 2);
    }
  }
  @media (max-width: 768px) and (min-width: 501px) {
    margin: 0;
    margin-top: 32px;
    padding: var(--sidePadding);
    h1 {
      font-size: var(--fontSizeMdSubtitle);
    }
    h3 {
      font-size: var(--fontSizeXsText);
      padding-top: 6px;
    }
    p {
      font-size: var(--fontSizeSmText);
      margin-top: 12px;
      padding-left: 12px;
    }
    @media (max-height: 600px) {
      margin: 0;
    }
    @media (max-height: 550px) {
      margin-top: 8px;
      p {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }
    }
    @media (max-height: 450px) {
      p {
        display: none;
      }
    }
    @media (max-height: 360px) {
      padding: 16px var(--sidePadding) 16px calc(var(--sidePadding) / 2);
    }
  }
  @media (max-width: 500px) and (min-width: 451px) {
    margin: 0;
    padding: calc(4 * var(--atomicPadding));
    h1 {
      font-size: var(--fontSizeMdSubtitle);
    }
    h3 {
      font-size: var(--fontSizeXsText);
      padding-top: 6px;
    }
    p {
      font-size: var(--fontSizeSmText);
      margin-top: 12px;
      padding-left: 12px;
    }
    @media (max-height: 550px) {
      margin-top: 8px;
      p {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }
    }
    @media (max-height: 450px) {
      p {
        display: none;
      }
    }
    @media (max-height: 360px) {
      padding: 16px var(--sidePadding) 16px calc(var(--sidePadding) / 2);
    }
  }
  @media (max-width: 450px) {
    margin: 0;
    margin-bottom: 32px;
    padding: calc(4 * var(--atomicPadding));
    h1 {
      font-size: var(--fontSizeMdSubtitle);
    }
    h3 {
      font-size: var(--fontSizeXsText);
      padding-top: 6px;
    }
    p {
      font-size: var(--fontSizeSmText);
      margin-top: 12px;
      padding-left: 12px;
    }
    @media (max-height: 800px) {
      margin: 0;
    }
    @media (max-height: 650px) {
      margin-top: 8px;
      padding: 16px;
      p {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }
    }
    @media (max-height: 450px) {
      p {
        display: none;
      }
    }
  }
}

.button {
  @media (min-width: 1001px) {
    font-size: var(--fontSizeSmText);
    margin-top: 24px;
    @media (max-height: 600px) {
      font-size: var(--fontSizeXsText);
      margin-top: 16px;
    }
    @media (max-height: 360px) {
      line-height: 1.5em;
    }
  }
  @media (max-width: 1000px) and (min-width: 769px) {
    font-size: var(--fontSizeSmText);
    margin-top: 24px;
    @media (max-height: 800px) {
      font-size: var(--fontSizeXsText);
      margin-top: 16px;
    }
    @media (max-height: 360px) {
      line-height: 1.5em;
    }
  }
  @media (max-width: 768px) and (min-width: 451px) {
    font-size: var(--fontSizeXsText);
    margin-top: 16px;
    @media (max-height: 450px) {
      margin-top: 8px;
    }
    @media (max-height: 360px) {
      line-height: 1.5em;
    }
  }
  @media (max-width: 450px) {
    font-size: var(--fontSizeXsText);
    margin-top: 16px;

    @media (max-height: 450px) {
      margin-top: 8px;
      line-height: 1.5em;
    }
  }
}
