.title {
  left: -100%;
  line-height: 1em;
  font-size: var(--fontSizeLgTitle);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.subtitleContainer {
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
  font-size: var(--fontSizeLgSubtitle);
  margin-right: calc(var(--sidePadding));
  line-height: 1.17em;
  padding-bottom: var(--atomicPadding);
}
.description {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1.1em;
  width: 100%;
  opacity: 0;
  font-size: var(--fontSizeLgSubtitle);
  padding-left: 12px;
}
.separator {
  position: absolute;
  width: 2px;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: var(--slate);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  border-radius: 4px;
}
.charcoalBackground {
  background-color: var(--charcoal);
}
.purpleBackground {
  background-color: var(--purple);
}
.slateBackground {
  background-color: var(--slate);
}
.subtitle {
  font-weight: inherit !important;
  line-height: inherit;
}
@media screen {
  @media (min-width: 769px) {
    @media (max-height: 800px) {
      .description {
        font-size: var(--fontSizeMdSubtitle);
        padding-left: 10px;
      }
    }
    @media (max-height: 600px) {
      .description {
        font-size: var(--fontSizeSmSubtitle);
        padding-left: 16px;
        height: 100%;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transform: translateY(-50%);
        left: calc(100% + 16px);
        width: calc(100vw - 100% - 2 * var(--sidePadding) - 16px);
      }
      .subtitleContainer {
        padding-bottom: 0;
        margin-top: var(--atomicPadding);
      }
    }
  }
  @media (max-width: 768px) {
    .title {
      font-size: var(--fontSizeMdTitle);
    }
    .subtitleContainer {
      font-size: var(--fontSizeMdSubtitle);
    }
    .description {
      font-size: var(--fontSizeMdSubtitle);
      padding-left: 10px;
    }
    @media (max-height: 600px) {
      .description {
        font-size: var(--fontSizeSmSubtitle);
        padding-left: 10px;
        width: calc(100vw - 2 * var(--sidePadding));
      }
    }
  }
  @media (max-width: 450px) {
    .title {
      font-size: var(--fontSizeSmTitle);
    }
    .subtitleContainer {
      font-size: var(--fontSizeSmSubtitle);
    }
    .description {
      font-size: var(--fontSizeSmSubtitle);
      padding-left: 10px;
      width: calc(100vw - 2 * var(--sidePadding));
    }
  }
}
