* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

#hud {
  position: fixed;
  width: 20%;
  height: 20%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: red;
}
